<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eCommerce Website</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="top-bar">
        <a href="/profile">profile</a>
        <form action="/search" method="get">
          <input type="text" name="q" placeholder="search">
          <button type="submit">Search</button>
        </form>
        <a href="/cart">cart</a>
    </div>
    <!-- <nav class="categories">
      < categories.forEach(category => { %>
        <a href="#"><= category ></a>
      < }); %>
    </nav> -->
  </header>
  <main>
    <div class="product-list">
      <% products.forEach(product => { %>
        <div class="product-item">
          <div class="product-image"></div>
          <div class="product-info">
            <h3><%= product.product_name %></h3>
            <p><%= product.price %></p>
            <p><%= product.product_description %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </main>
</body>
</html>